@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  list-style: none;
}

html,
body {
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
  background-repeat: no-repeat;
}


/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

/* CONTENT */

.container {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.content-body {
  background: white;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;

}

.content-body h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.content-body p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0px 20px 0px 20px;
}

.foto1 img {
  width: 250px;
  height: 210px;
}

.content-photo {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.foto1 {
  width: 300px;
  height: 380px;
  background: rgb(239 221 145);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.foto1 h2 {
  margin-top: 10px;
}

/* CONTENT SERVICES */

.body-services {
  margin-top: 100px;
}

.services {
  background: white;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;

}

.services h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.services p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0px 20px 0px 20px;
}

.foto2 img {
  width: 250px;
  height: 210px;
}

.services-photo {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 120px;
}

.foto2 {
  width: 300px;
  height: 380px;
  background: rgb(239 221 145);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.foto2 h2 {
  margin-top: 10px;
}

/* ABOUT */

.about {
  margin-top: 100px;
}

.about-content{
  background: white;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;
}

.about-content h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-content p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0px 20px 0px 20px;
  margin-bottom: 50px;
}

.about-content h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-content iframe {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.4);
}

/* FOOOTER */



.container-footer {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  
  background-color: rgba(128, 128, 128, 0.381);
}

.icones ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  font-size: 60px;
  cursor: pointer;
}

.icones ul li a {
  text-decoration: none;
  color:  #ffc745;
  list-style: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


/* RESPONSIVIDADE */

@media (max-width: 870px){


html,
body {
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
  background-repeat: no-repeat;
}

  .content-body {
    width: 360px;
    height: 730px;
    padding: 0;
  }

  .content-body h1{
    font-size: 20px;
  }

  .content-photo {
    display: flex;
    flex-direction: column;
  }

  .services {
    width: 360px;
    height: 1400px;
    padding: 0;
  }

  .body-services {
    margin-top: 40px;
  }

  .services-photo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .services h1 {
    font-size: 19px;
    margin: 67px 0px 50px 0px;
  }

  .about {
    margin-top: 40px;
}
 
  .about-content {
    padding: 0;
    height: 980px;
    width: 360px;
  }

  .about-content h1 {
    font-size: 20px;
    margin: 64px 0px 50px 0px;
  }

  iframe {
    width: 340px;
    height: 300px;
  }
}
