@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Text", sans-serif;
  list-style: none;
}

html,
body {
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


h1 {
  font-family: "montserrat", sans-serif;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  gap: 12px;
}

.ul li a {
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 80px 10px 89px 10px;
  border: 1px solid #FDB813;
  box-shadow: 0px 0px 7px #f3c964;
  padding: 14px;
  
}

.ul li a:hover{
  color: #FDB813;
  
}

.container-header {
  max-width: 1000px;
  min-width: 880px;
  margin: auto;
  padding: 10px;
}

.logo img {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

/* CONTENT */

.container {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.content-body {
  background: white;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;
  box-shadow: 0px 0px 16px #f3c964;

}

.content-body h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.content-body p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.foto1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.content-photo {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.foto1 {
  position: relative;
  width: 300px;
  height: 380px;
  background: rgb(239 221 145);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 3px 16px rgba(0, 0, 0, 0.4);
  border: 4px solid #f3c964;
  overflow: hidden;
  cursor: pointer;
}

.card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4745;
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
  transition: 2s;
}

.foto1:hover .card-body {
  right: 0;
}


.card-body h1{
  color: white;
  font-weight: bold;

}

.card-title{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  color: rgb(255, 255, 255);
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card-subtitle{
text-transform: capitalize;
font-weight: 400;
font-size: 15px;
margin: 10px 0;
line-height: 25px;
}
/* .foto1 h2 {
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
} */

/* CONTENT SERVICES */

.body-services {
  margin-top: 100px;
}

.services {
  background: white;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;
  box-shadow: 0px 0px 10px #f3c964;
}

.services h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.services p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0px 20px 0px 20px;
}

.foto2 img {
  width: 250px;
  height: 210px;
}

.services-photo {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 120px;
}

.foto2 {
  width: 300px;
  height: 380px;
  background: rgb(239 221 145);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.foto2 h2 {
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* ABOUT */

.about {
  margin-top: 100px;
}

.about-content{
  background: white;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  padding: 0 100px 0px 100px;
  border-radius: 80px 10px 89px 10px;
  border: 2px solid #FDB813;
  box-shadow: 0px 0px 8px #f3c964;
  margin-bottom: 55px;
}

.about-content h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 30px 0px 50px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-content p {
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0px 20px 0px 20px;
  margin-bottom: 50px;
}

.about-content h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-content iframe {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.4);
}

.card-body p{
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
/* FOOOTER */



.container-footer {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  
  background-color: rgb(150 150 150 / 69%);
}

.icones ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  font-size: 50px;
  cursor: pointer;
  gap: 30px;
}

.icones ul li a {
  text-decoration: none;
  color:  #ffc745;
  list-style: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


/* RESPONSIVIDADE */

@media (max-width: 500px){
 .container {
  padding: 0;
 }

html,
body {
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container-header {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ul {
  display: none;
}

  .content-body {
    width: 347px;
    height: 1289px;
    padding: 0;

  }

  .content-body h1{
    font-size: 2em;
  }

  .content-photo {
    display: flex;
    flex-direction: column;
  }

  .services {
    width: 347px;
    height: 1200px;
    padding: 0;
  }

  .body-services {
    margin-top: 40px;
  }

  .services-photo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .services h1 {
      font-size: 2em;
    margin: 67px 0px 50px 0px;
  }

  .about {
    margin-top: 40px;
  }
 
  .about-content {
    padding: 0px;
    height: 800px;
    width: 347px;
    
  }

  .about-content h1 {
    font-size: 2em;
    margin: 64px 0px 50px 0px;
  }

  iframe {
    width: 260px;
    height: 340px;
  }

  .foto1, .foto2{
    width: 260px;
    height: 340px;
  }

  .icones ul {
    font-size: 30px;
    gap: 30px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .container-header {
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    padding: 10px;
  }

  .content-body {
    width: 100%;
    padding: 0px 20px;
    height: 838px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .ul {
    display: none;
  }

  .content-body h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin: 50px 0px 35px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .content-body p {
    padding: 0px 20px;
  }

  .content-photo {
    gap: 17px;
    max-width: 100%;
  }

  .services {
    padding: 0px 20px;
    height: 735px;
  }

  .services h1 {
    font-size: 33px;
    color: rgb(0, 0, 0);
    margin: 50px 0px 35px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .services p {
    padding: 0px 20px;
  }

  .services-photo {
    gap: 17px;
    max-width: 100%;
    margin-top: 62px;
  }

  .about-content {
    padding: 0px 20px;
  }

  .about-content h1 {
    font-size: 33px;
  }

  .about-content p {
    padding: 0px 20px;
  }

  .icones ul {
    font-size: 46px;
    gap: 30px;
  }

  iframe {
    width: 460px;
    height: 460px;
  }
}
